<mat-card class="bg-white p-6 rounded-lg shadow-md">
    <div class="text-center text-green-500">
      <h1 class="text-xl font-medium">Order Completed Successfully</h1>
      <p class="text-sm">Thank you for your purchase</p>
      <p class="text-sm">We have sent ypu an email!</p>
    </div>
    <div class="mt-4 text-center">
        <p>For more information you can contact us: kristiyanvasilev02@gmail.com</p>
      <button (click)="home()" mat-raised-button color="primary" class="bg-indigo-500 hover:bg-indigo-600 text-white font-medium py-2 px-4 rounded-lg">
        Back shooping
      </button>
    </div>
  </mat-card>
