<mat-expansion-panel class="py-4" *ngIf="categories">
  <mat-expansion-panel-header>
    <mat-panel-title> CATEGORIES </mat-panel-title> <mat-icon class="small-icon">menu</mat-icon>
  </mat-expansion-panel-header>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let category of categories" [value]="category">
      <button (click)="onShowCategory(category)">{{ category }}</button>
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel>
<mat-expansion-panel class="py-4" *ngIf="categories">
  <mat-expansion-panel-header>
    <mat-panel-title> CREATE</mat-panel-title> <mat-icon class="small-icon">create</mat-icon>
  </mat-expansion-panel-header>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let item of items">
      <button [routerLink]="['/create', item]">{{ item }}</button>
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel>
<mat-expansion-panel class="py-4" *ngIf="categories">
  <mat-expansion-panel-header>
    <mat-panel-title> UPDATE</mat-panel-title> <mat-icon class="small-icon">update</mat-icon>
  </mat-expansion-panel-header>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let item of items" [value]="item">
      <button [routerLink]="['/update', item]">{{ item }}</button>
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel>
<mat-expansion-panel class="py-4" *ngIf="categories">
  <mat-expansion-panel-header>
    <mat-panel-title> DELETE</mat-panel-title> <mat-icon class="small-icon">delete</mat-icon>
  </mat-expansion-panel-header>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let item of items" [value]="item">
      <button [routerLink]="['/delete', item]">{{ item }}</button>
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel>